- name: Generate and Execute Worker Join Token  
  hosts: master[0]
  gather_facts: false  
  become: true

  tasks:   
  - name: Generate command    
    shell: "echo $(kubeadm token create --print-join-command) --control-plane --certificate-key $(kubeadm init phase upload-certs --upload-certs | grep -vw -e certificate -e Namespace) 2>&1"
    register: master_join_token

  - name: Print Master Join Token
    debug:
      var: master_join_token.stdout_lines[0]
        
  
- name: Execute Master Join Command on Master nodes except the first master    
  hosts: master[1:]  
  become: true    
  tasks:       
   - name: Print Master Join Command      
     debug:
       var: hostvars[groups['master'][0]]['master_join_token']
  
   - name: Join Master Node to Cluster        
     shell: "{{ hostvars[groups['master'][0]]['master_join_token'].stdout_lines[0] }} --apiserver-advertise-address={{ ansible_host }}"

- name: Make kubectl command workable on all masters   
  hosts: master[1:] 
  tasks:
  - name: Create Kubernetes configuration directory for normal user
    command: mkdir -p $HOME/.kube

  - name: Copy admin configuration file for normal user
    command: sudo -n cp -f /etc/kubernetes/admin.conf $HOME/.kube/config

  - name: Change user permission
    shell: sudo chown $(id -u):$(id -g) $HOME/.kube/config

- name: Resolve cni0 error   
  hosts: master, worker
  become: true    
  tasks:       
    - name: Set cni0 and flannel.1 links down
      shell: |
        ip link set cni0 down
        ip link set flannel.1 down

    - name: Delete cni0 and flannel.1 links
      shell: |
        ip link delete cni0
        ip link delete flannel.1

    - name: Restart containerd
      service:
        name: containerd
        state: restarted

    - name: Restart kubelet
      service:
        name: kubelet
        state: restarted
  